:root{
    --main-bg:#3B322D;
    --section-bg:#251D1A;
    --secondary-button:#000000;
    --main-text: #EFE7E2;
    --additional-text-color:#FFFFFF;
    --accent-color:#FF6E40;
    --text-content: #B7AAA2;
    --valid: #0ee80e;
    --invalid:#fe0c0c;
    --in-focus:#32ade2;
    --main-font: 'Fira Sans', sans-serif;
    --secondary-font:"Playfair Display", sans-serif;
    --additional-font: 'Montserrat', sans-serif;
    --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);

}