.masters-intro {
    padding-top: 40px;
    padding-bottom: 63px;
    background: linear-gradient(90deg, rgba(33, 24, 20, 0.57) 0%, rgba(38, 28, 24, 0.42) 100%), url(../img/our-masters/masters-intro.jpg);
    background-repeat: no-repeat;
    background-size: 1180px 420px;
    background-position: top center;

    &__text {
        margin: 32px 880px 0 46px;
        font-size: 18px;
        line-height: 1.5;
        color: var(--main-text);
    }
}

.hero__title--indent {
    margin-right: 423px;
}